<form action="/session" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label> Email address
    <input name="email" type="text" />
  </label>
  <label> Password
    <input name="password" type="text" />
  </label>
  <button type="submit">Sign in</button>
</form>
